.wrapper {
  display: flex;
  justify-content: space-evenly;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  margin: 20px;
  height: 200px;
  width: 200px;

}

.text {
   
  display: none;
  margin: 20px;

   
  
  width: 200px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.imgHidden {
  display: none;
}